<h1>Hot sell products </h1> <br>
<h5> login as: <%=current_user.name%><br>

<form action="/users/<%= current_user.id%>" method="get">
	<input type="submit" value="My Profile">
</form>
<br>

<form action="/users/logout" method="post">
	<input type="submit" value="Log out">
</form>
<br>

<% @products.each do |p| %>
	<a href="/products/<%=p.id%>"><%= p.product_name %></a><br>
	by: <%= p.user.name%><br>
	<!-- <p>by:<a href="/users/:id"><%= p.user.name%></a><p> -->
<% end %>